
/* Custom CSS for Home component */

.container {
    margin-top: 20px;
    padding: 10px;
    height: 100%;
    width: 100%;
  }
  
  .title {
    font-size: 2.5rem;
    color: #5512c0;
    text-align: center;
  }
  
  #cards {
    box-shadow: 0 0 10px rgba(94, 96, 109, 0.1);
    padding: 1px;
    h4{
        color: #cc1f1f;
    }
    h5{
        color: #000;
    }
    h6{
        color: #04113d;
    }
  }
  
  .card-img-top {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }
  
  .card-footer {
    background-color: #fafbfc;
    border-top: 1px solid #e5ecf4;
  }
  
  .btn {
    cursor: pointer;
  }
  

 
  
